name: 'Java Observability'

on:
    push:
        branches: ['main']
        paths:
            - 'sdk/@launchdarkly/observability-java/**'
            - '.github/workflows/java-observability.yml'
    pull_request:
        types: [opened, synchronize]
        paths:
            - 'sdk/@launchdarkly/observability-java/**'
            - '.github/workflows/java-observability.yml'

permissions:
    contents: read

concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
    test:
        name: Unit Tests
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./sdk/@launchdarkly/observability-java
        steps:
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: 21

            - name: Build and test
              run: ./gradlew :lib:build

            - name: Upload test reports
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: java-unit-test-results
                  path: sdk/@launchdarkly/observability-java/**/build/test-results/**/TEST-*.xml
                  retention-days: 7
